/* .login {
  background-image: linear-gradient(to right bottom, #4351d3, #5068d9, #617dde, #7692e0, #8da6e1, #93b5e6, #9dc3ea, #abd0ed, #aadcf3, #abe7f7, #b0f2f9, #b9fcf8);
} */

/* styles.css o en tu archivo de estilos globales */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* index.css o modal.css */

.ReactModal__Overlay {
  z-index: 1000;
  /* Asegúrate de que esté sobre otros elementos */
}

.ReactModal__Content {
  z-index: 1001;
  /* Asegúrate de que el contenido del modal esté sobre el overlay */
}